*,
::before,
:after {
  margin: 0;
  padding: 0;
}

button[type="submit"] {
  outline: none;
}

html {
  height: 100vh;
  font-size: 16px;
}

body {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  padding: 50px;
}

.text-center {
  font-weight: normal;
  letter-spacing: 1px;
  text-align: center;
}

.submit-button {
  margin-top: 20px;
}

input[type="submit"] {
  font-family: 'FontAwesome'
}